.show__answer {
  border-radius: 15px;
  padding: 7px 12px;
  border: var(--border);
}

.question__bookmark {
  font-size: larger;
  position: absolute;
  top: -10px;
  right: -3px;
  height: 40px;
  width: 40px;
  background-image: url("../images/ribbon.png");
  background-size: cover;
  border-radius: 40%;
}

.change_bookmark {
  background-image: url("../images/bookmark.png");
  background-size: cover;
  font-size: larger;
  position: absolute;
  top: -10px;
  right: -3px;
  height: 40px;
  width: 40px;
}
