:root {
  --background-color: rgb(030, 144, 255);
  --border: 2px solid black;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  max-width: 750px;
}
