:root {
  --background-color: rgb(71, 166, 144);
  --border: 2px solid black;
  --background-snakegreen: rgb(152, 251, 152);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  background-color: var(--background-snakegreen);
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 30%;
  gap: 20px;
  max-width: 750px;
}
