.footer__nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border: var(--border);
}
