@import "/css/global.css";
@import "/css/header.css";
@import "/css/navigation.css";

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile__card-img {
  border-radius: 50%;
}

.counter-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.counter-list__item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70px;
  padding: 0.5rem;
  border: var(--border);
  border-radius: 4px;
}
