@import "/css/global.css";
@import "/css/button.css";
@import "/css/header.css";
@import "/css/navigation.css";
@import "/css/form.css";

.question {
  border: var(--border);
  border-radius: 10px;
  gap: 50px;
  position: relative;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.Answer,
.Answer2,
.Answer3 {
  display: none;
}

.question__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag {
  display: flex;
  flex-direction: row;
}

.tag__list {
  display: flex;
  list-style: none;
  gap: 5px;
  flex-wrap: wrap;
}

.tag li {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--background-snakegreen);
  display: flex;
}
